<!DOCTYPE html>
<html lang="en">
<head>
    {#    <meta charset="UTF-8" name="theme-color" content="#aaa">#}
    <title>{% block title %} {% endblock %} - QuizBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>
<body>
<nav>
    <ul class="nav-ul">
        <div>
            <li class="nav-li"><a class="nav-a" href="{{ url_for('main.index') }}">Home</a></li>
            <li class="nav-li"><a class="nav-a" href="{{ url_for('main.material') }}">Material</a></li>
        </div>
        <div style="float: right">
            <li class="nav-li"><a class="nav-a" href="{{ url_for('auth.login')}}">Login</a></li>
            <li class="nav-li"><a class="nav-a" href="{{ url_for('auth.signup')}}">Sign Up</a></li>

        </div>
    </ul>
</nav>

<main>
    {% block content %} {% endblock %}
</main>
</body>
</html>
